body {
  color: var(--black);
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  // object-fit: cover;
  // object-fit: contain;
}

html {
  scroll-behavior: smooth;
}
