:root {
  --primary-color-normal: #ff9f0e;
  --primary-color-active: #fcb62a;
  --black: #181817;
  --gray: #839aa9;
  --background: #fff;
  --footer-background: #fafafa;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;
