.button {
  display: block;
  width: fit-content;
  border-radius: 4px;
  font-size: 16px;
  padding: 8px 24px;

  background: var(--primary-color-normal);
  color: var(--background);
  font-family: Roboto;
  font-weight: 500;

  transition: 0.3s ease-in-out;

  @media screen and (min-width: calc($bp-tablet + 1px)) {
    border-radius: 8px;
    padding: 16px 32px;
    font-size: 18px;
  }

  &:hover {
    background: var(--primary-color-active);
  }

  &--centered {
    display: block;
    margin: 0 auto 16px;
  }
}
