.hero-section {
  padding-top: 144px;

  &__container {
    display: flex;
    align-items: flex-start;
    // justify-content: center;
    justify-content: space-between;
    gap: 45px;

    @media screen and (min-width: $bp-tablet) {
      gap: 75px;
    }
    @media screen and (min-width: $bp-desktop) {
      gap: 100px;
    }
  }

  &__content {
    display: flex;
    // justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    @media screen and (min-width: $bp-mobile) {
      text-align: left;
      display: block;
      max-width: 635px;
      flex-basis: 55%;
    }
  }

  &__title {
    font-size: 32px;
    font-family: Rowdies;
    font-weight: 400;
    margin-bottom: 24px;

    @media screen and (min-width: $bp-tablet) {
      font-size: 44px;
      margin-bottom: 32px;
    }

    @media screen and (min-width: $bp-desktop) {
      font-size: 72px;
      letter-spacing: 3.6px;
      margin-bottom: 40px;
    }
  }

  &__text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    max-width: 490px;
    font-size: 16px;
    margin-bottom: 16px;

    @media screen and (min-width: $bp-tablet) {
      font-size: 18px;
      margin-bottom: 20px;
    }

    @media screen and (min-width: $bp-desktop) {
      font-size: 22px;
      margin-bottom: 24px;
    }
  }

  &__image {
    display: none;
    @media screen and (min-width: $bp-mobile) {
      display: block;
      border-bottom-right-radius: 50%;
      border-bottom-left-radius: 55%;
      // border-top-right-radius: 60%;
      width: 30%;

      background-image: url(/img/hero-section/dog-hero-section-bg.svg);
      background-repeat: no-repeat;
      background-size: contain;

      // TODO: Remove section
      // max-width: 400px;
      // background: var(--primary-color-normal);
      // border-top-left-radius: 25%;
      // clip-path: path(
      //   'M254.97 0.0384397C325.849 -1.81149 376.333 63.4758 423.116 116.86C465.875 165.653 500.595 220.553 504.987 285.337C509.708 354.969 499.121 431.376 447.624 478.371C397.458 524.152 322.749 516.713 254.97 513.499C191.651 510.497 126.986 503.257 79.7229 460.93C30.0027 416.402 -2.90794 352.082 0.203089 285.337C3.20707 220.889 52.4254 173.496 95.3615 125.414C142.223 72.9368 184.715 1.87207 254.97 0.0384397Z'
      // );
      // z-index: 1;
      // content: url(/img/dog-hero-section-bg.svg);

      // background-position: 0;
    }
  }

  &__button {
    @media screen and (max-width: calc($bp-mobile - 1px)) {
      &::before {
        position: absolute;
        left: 40px;
        content: url(../../img/hero-section/mobile-dog-left.png);
      }
      &::after {
        position: absolute;
        right: 40px;
        content: url(../../img/hero-section/mobile-dog-right.png);
      }
    }
  }
}
